:host ::ng-deep{
  & .p-datatable{
    width: 100%;
    display: inline-block;
    & .p-datatable-thead > tr > th{
      background-color: var(--green);
      border: 1px solid #e6e6e6;
      border-collapse: collapse;
    }

    & .p-datatable-tbody > tr > td{
      border: 1px solid #e6e6e6;
      border-collapse: collapse;
    }

    & .p-datatable-tfooter > tr > td{
      text-align: right;
    }
  }
}
